@import './styles/_variables.scss';


.container {
    max-width: 984px;

}

.buttons {
    background-color: $button-color;
    text-transform: uppercase;
    text-align: center;
    padding: 18px 0;
    font-family: $font-primary

}

header {
    background-color: white;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        height: 80px;

        .logo {
            height: 36px;
            width: 36px;
            
        }

        .hamburger-btn {
            display: none;
        }

        .hamburger-btn:checked~.menulist {
            display: none;
        }

        
        .menulist {
            display: block; 
            background-color: transparent;
            position: static;
            width: auto;
            top: auto;
            left: auto;
        
            li {
               display: inline-block;
               color: $text-color;
            }      
        }
    }   
}

.maintitle {
    background-color: white;
    padding: 120px 0 0 0;


    h1{
        font-family: $font-secondary;
        font-size: 64px;
       
        br {
            display: none; 
        }
        .bluedot {
            color: $primary-color;
        }
    }
}   

p  {
    font-family: $font-primary;
    font-size: 16px;
    color: $text-color;
    letter-spacing: 0;
    line-height: 24px;
    padding-bottom: 56px;
    max-width: 628px;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

.buttons {
    max-width: 226px;

}


.spotify {
    clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    width: 100%;
    
    h2 {
        color: white;
        font-size: 48px;
        font-family: $font-secondary;
        padding: 186px 0 26px 0; 
        max-width: 1040px;
        margin: 0 auto;
        
    }

    .podcast {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 16px 0 236.6px 0;
      
    }

    iframe {
        width: 100%;
        margin-top: auto;
    }

    
}

.wearefrom {
    color: $text-color;
    font-family: $font-secondary;
    
    .container {
        max-width: 984px;
        display: flex;
        justify-content: space-between; 
        align-items: center;
        margin-top: -80px;

        img {
            max-width: 458px;
            position: relative;
            z-index: 1;
        }

        .content_text {
            max-width: 464px;

            h2 {
                color: $text-color;
                font-family: $font-secondary;
                font-size: 48px;
                margin: 27px 0 8px 0;
                }
    
            p {
                color: $text-color;
                font-family: $font-primary;
                font-size: 16px;
                line-height: 24px;
            }
        }
        
    }
    
}

.guests {
   
    .container {
        max-width: 984px;
        font-size: 48px;
        font-family: $font-secondary;
        margin-bottom: 36px;
    }

    .invite {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
       }
}

.themes {
    .container {
        max-width: 984px;
        font-family: $font-secondary;
            
            h2 {
                font-size: 48px;
                margin: 64px 0 56px 0;
                }
            
            .themeslist {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
             
           }

           h3 {
               font-size: 24px;
               text-align: center;
               font-weight: 800;
           }
        }
}   
.lastnews {
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    width: 100%; 
   
    .container {
        max-width: 986px;
        padding: 213px 0 151px 0; 
    
         
        h2 {
            color: white;
            font-size: 48px;
            font-family: $font-secondary;
        }
        
        .buttons {
            max-width: 345px;
            margin: 0 auto;
        }
    }
}

footer {
    .container {
        max-width: 986px;
        display: flex;
        justify-content: space-between;
            
        p {
            margin: 36px 0 32px 0; 
        }         
            .socialmedia {
                
                margin: 36px 0 32px 0;

                li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-left: 36px;
                
                a {
                    color: $text-color
                }
                
                }

            }                          
        
    }
}    
