@import '_variables.scss';


.container {
    max-width: 1240;

}

.buttons {
    background-color: $button-color;
    text-transform: uppercase;
    text-align: center;
    padding: 13px 0;
    font-family: $font-primary

}

header {
    background-color: white;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        height: 80px;

        .logo {
            height: 36px;
            width: 36x;
        }

        .hamburger-btn {
            display: none;
        }

        .hamburger-btn:checked~.menulist {
            display: none;
        }

        
        .menulist {
            display: block; 
            background-color: transparent;
            position: static;
            width: auto;
            top: auto;
            left: auto;
        
            li {
               display: inline-block;
               color: $text-color;
            }      
        }
    }   
}

.maintitle {
    background-color: white;
    padding: 120px 0 0 0;


    h1{
        font-family: $font-secondary;
        font-size: 64px;
       
        br {
            display: none; 
        }
        .bluedot {
            color: $primary-color;
        }
    }
}   

p  {
    font-family: $font-primary;
    font-size: 16px;
    color: $text-color;
    letter-spacing: 0;
    line-height: 24px;
    padding-bottom: 56px;
    max-width: 628px;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

.buttons {
    max-width: 226px;

}


.spotify {
    clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    width: 100%;
    
    h2 {
        color: white;
        font-size: 48px;
        font-family: $font-secondary;
        padding: 186px 0 26px 0; 
        max-width: 1040px;
        margin: 0 auto;
        
    }

    .podcast {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 16px 0 156px 0;
      
    }

    iframe {
        width: 100%;
        margin-top: auto;
    }

    
}

.wearefrom {
    color: $text-color;
    font-family: $font-secondary;

    .container {
        max-width: 984px;
        display: flex;
        justify-content: space-between; 
    
    
        img {
            max-width: 458px;
            margin-top: -120px;
            position: relative;
            z-index: 1;
        }

        .content_text {
            max-width: 464px;

            h2 {
                color: $text-color;
                font-family: $font-secondary;
                font-size: 48px;
                margin: 27px 0 8px 0;
                }
    
            p {
                color: $text-color;
                font-family: $font-primary;
                font-size: 16px;
                line-height: 24px;
            }
        }
      
    }
}