@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&family=IBM+Plex+Sans:wght@400;500;600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (min-width: 320px) {
  .container {
    max-width: calc(100% - 32px);
    margin: 0 auto;
  }
  .buttons {
    background-color: #00F3BB;
    text-transform: uppercase;
    text-align: center;
    padding: 13px 0;
    font-family: "IBM Plex Mono", monospace;
  }
  header {
    background-color: white;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    height: 44px;
  }
  header nav .logo {
    height: 24px;
    width: 24px;
  }
  header nav .hamburger-btn-action {
    display: none;
  }
  header nav .hamburger-btn-action:checked ~ .menulist {
    display: block;
  }
  header nav .hamburger-btn-action:checked ~ label .hamburger-btn .bars {
    display: none;
  }
  header nav .hamburger-btn-action:checked ~ label .hamburger-btn .close {
    display: block;
  }
  header nav .hamburger-btn .bars {
    display: block;
  }
  header nav .hamburger-btn .close {
    display: none;
  }
  header nav .menulist {
    display: none;
    background-color: #0000EC;
    position: absolute;
    width: 100%;
    top: 44px;
    left: 0;
  }
  header nav .menulist li {
    color: white;
    padding: 12px 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-transform: uppercase;
  }
  .maintitle {
    background-color: white;
    padding: 29px 0 24px 0;
  }
  .maintitle h1 {
    font-family: "IBM Flex Sans", sans-serif;
    font-size: 36px;
  }
  .desktop {
    display: none;
  }
  p {
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    padding: 30px 0 16px 0;
  }
  .spotify {
    -webkit-clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
            clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    width: 100%;
  }
  .spotify h2 {
    color: white;
    font-size: 36px;
    font-family: "IBM Flex Sans", sans-serif;
    padding-top: 64px;
  }
  .spotify .podcast {
    padding: 16px 0 156px 0;
  }
  .spotify iframe {
    width: 100%;
    margin-top: 11px;
  }
  .spotify:first-child {
    margin-top: 0;
  }
  .wearefrom {
    color: #060A24;
    font-family: "IBM Flex Sans", sans-serif;
  }
  .wearefrom img {
    width: 100%;
    margin-top: -90px;
    position: relative;
    z-index: 1;
  }
  .wearefrom h2 {
    color: #060A24;
    font-family: "IBM Flex Sans", sans-serif;
    font-size: 36px;
    margin: 27px 0 8px 0;
  }
  .wearefrom p {
    color: #060A24;
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    line-height: 22px;
  }
}

@media (min-width: 780px) {
  .container {
    max-width: 1240;
  }
  .buttons {
    background-color: #00F3BB;
    text-transform: uppercase;
    text-align: center;
    padding: 13px 0;
    font-family: "IBM Plex Mono", monospace;
  }
  header {
    background-color: white;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    height: 80px;
  }
  header nav .logo {
    height: 36px;
    width: 36x;
  }
  header nav .hamburger-btn {
    display: none;
  }
  header nav .hamburger-btn:checked ~ .menulist {
    display: none;
  }
  header nav .menulist {
    display: block;
    background-color: transparent;
    position: static;
    width: auto;
    top: auto;
    left: auto;
  }
  header nav .menulist li {
    display: inline-block;
    color: #060A24;
  }
  .maintitle {
    background-color: white;
    padding: 120px 0 0 0;
  }
  .maintitle h1 {
    font-family: "IBM Flex Sans", sans-serif;
    font-size: 64px;
  }
  .maintitle h1 br {
    display: none;
  }
  .maintitle h1 .bluedot {
    color: #0000EC;
  }
  p {
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px;
    padding-bottom: 56px;
    max-width: 628px;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .buttons {
    max-width: 226px;
  }
  .spotify {
    -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
            clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    width: 100%;
  }
  .spotify h2 {
    color: white;
    font-size: 48px;
    font-family: "IBM Flex Sans", sans-serif;
    padding: 186px 0 26px 0;
    max-width: 1040px;
    margin: 0 auto;
  }
  .spotify .podcast {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 16px 0 156px 0;
  }
  .spotify iframe {
    width: 100%;
    margin-top: auto;
  }
  .wearefrom {
    color: #060A24;
    font-family: "IBM Flex Sans", sans-serif;
  }
  .wearefrom .container {
    max-width: 984px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wearefrom .container img {
    max-width: 458px;
    margin-top: -120px;
    position: relative;
    z-index: 1;
  }
  .wearefrom .container .content_text {
    max-width: 464px;
  }
  .wearefrom .container .content_text h2 {
    color: #060A24;
    font-family: "IBM Flex Sans", sans-serif;
    font-size: 48px;
    margin: 27px 0 8px 0;
  }
  .wearefrom .container .content_text p {
    color: #060A24;
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    line-height: 24px;
  }
}
/*# sourceMappingURL=style.css.map */